In [1]:
import pandas as pd
import bar_chart_race as bcr

In [12]:
df = pd.read_csv("en_sonki_data.csv",index_col="Year")
df.drop("Search Parameters",axis=1, inplace=True)
df.drop("Unnamed: 0",axis=1, inplace=True)
df = df.iloc[1: , :]
df[["Continent", "Deaths"]]["Deaths"].sum()

17823.0

In [10]:
df1 = pd.DataFrame(df.groupby(["Year","Continent"])["Deaths"].sum())
# df1 = pd.DataFrame(columns= df.groupby(["Year","Continent"])["Deaths"].sum(), )
# bcr.bar_chart_race(df=df.groupby(["Year","Continent"])["Deaths"].sum(),
# df1.transpose()
df.groupby(["Year","Continent"])["Deaths"].sum()

Year    Continent
2015.0  Africa              3.0
        Asia             9508.0
        Europe              2.0
        North America       2.0
        Not found           4.0
        Oceania             0.0
        South America      11.0
2016.0  Africa             32.0
        Asia              301.0
        Europe            310.0
        North America       1.0
        Not found           4.0
        Oceania             3.0
        South America     677.0
2017.0  Africa              3.0
        Asia              706.0
        Europe             37.0
        North America     480.0
        Not found           2.0
        Oceania             3.0
        South America       4.0
2018.0  Africa              7.0
        Asia             5027.0
        Europe              5.0
        North America      32.0
        Not found           0.0
        Oceania           186.0
        South America      10.0
2019.0  Africa              1.0
        Asia              192.0
        Europe             56.0
        North America       1.0
        Not found           1.0
        Oceania             0.0
        South America       9.0
2020.0  Asia               61.0
        Europe            126.0
        North America      14.0
        Not found           0.0
        Oceania             1.0
        South America       1.0
Name: Deaths, dtype: float64

In [71]:
df1.add_suffix("").reset_index()

      Year      Continent  Deaths
0   2015.0         Africa     3.0
1   2015.0           Asia  9508.0
2   2015.0         Europe     2.0
3   2015.0  North America     2.0
4   2015.0      Not found     4.0
5   2015.0        Oceania     0.0
6   2015.0  South America    11.0
7   2016.0         Africa    32.0
8   2016.0           Asia   301.0
9   2016.0         Europe   310.0
10  2016.0  North America     1.0
11  2016.0      Not found     4.0
12  2016.0        Oceania     3.0
13  2016.0  South America   677.0
14  2017.0         Africa     3.0
15  2017.0           Asia   706.0
16  2017.0         Europe    37.0
17  2017.0  North America   480.0
18  2017.0      Not found     2.0
19  2017.0        Oceania     3.0
20  2017.0  South America     4.0
21  2018.0         Africa     7.0
22  2018.0           Asia  5027.0
23  2018.0         Europe     5.0
24  2018.0  North America    32.0
25  2018.0      Not found     0.0
26  2018.0        Oceania   186.0
27  2018.0  South America    10.0
28  2019.0         Africa     1.0
29  2019.0           Asia   192.0
30  2019.0         Europe    56.0
31  2019.0  North America     1.0
32  2019.0      Not found     1.0
33  2019.0        Oceania     0.0
34  2019.0  South America     9.0
35  2020.0           Asia    61.0
36  2020.0         Europe   126.0
37  2020.0  North America    14.0
38  2020.0      Not found     0.0
39  2020.0        Oceania     1.0
40  2020.0  South America     1.0