In [1]:
!pip install bar_chart_race
import pandas as pd
import bar_chart_race as bcr

zsh:1: command not found: pip

In [14]:
df = pd.read_csv("en_sonki_data.csv",index_col="Year")
df.drop(['Search Parameters', 'Unnamed: 0'], axis=1, inplace=True)
# Drop rows where the Year column is NaN
# df.dropna(subset=['Year'], inplace=True)
# df[["Continent", "Deaths"]]["Deaths"].sum()
df

,Mo,Dy,Hr,Mn,Sec,Tsu,Vol,Location Name,Latitude,Longitude,...,Total Injuries,Total Injuries Description,Total Damage ($Mil),Total Damage Description,Total Houses Destroyed,Total Houses Destroyed Description,Total Houses Damaged,Total Houses Damaged Description,Country,Continent
Year,,,,,,,,,,,,,,,,,,,,,
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Not found
2015.0,1.0,14.0,5.0,22.0,23.0,NaN,NaN,CHINA: SICHUAN PROVINCE: LESHAN,29.353,103.199,...,11.0,1.0,NaN,2.0,NaN,NaN,2000.0,4.0,CHINA,Asia
2015.0,2.0,16.0,23.0,6.0,27.0,5580.0,NaN,JAPAN: HONSHU,39.856,142.881,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,JAPAN,Asia
2015.0,2.0,19.0,13.0,19.0,21.0,5582.0,NaN,VANUATU ISLANDS,-16.431,168.148,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1.0,VANUATU ISLANDS,Oceania
2015.0,2.0,20.0,22.0,37.0,28.0,NaN,NaN,CHINA: YUNNAN PROVINCE,23.010,101.755,...,NaN,NaN,NaN,1.0,NaN,NaN,276.0,3.0,CHINA,Asia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020.0,8.0,18.0,0.0,3.0,48.0,NaN,NaN,PHILIPPINES: MASBATE,12.021,124.123,...,50.0,1.0,0.57,1.0,138.0,3.0,1167.0,4.0,PHILIPPINES,Asia
2020.0,10.0,19.0,20.0,54.0,39.0,5755.0,NaN,ALASKA,54.608,-159.655,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ALASKA,North America
2020.0,10.0,30.0,11.0,51.0,27.0,5757.0,NaN,GREECE: SAMOS; TURKEY: IZMIR,37.918,26.790,...,1054.0,4.0,400.00,4.0,NaN,2.0,NaN,4.0,GREECE,Europe
2020.0,12.0,27.0,21.0,39.0,14.0,5760.0,NaN,CHILE: OFF COAST CENTRAL,-39.343,-74.990,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CHILE,South America
2020.0,12.0,29.0,11.0,19.0,54.0,NaN,NaN,BALKANS NW: CROATIA: PETRINJA,45.422,16.255,...,36.0,1.0,4187.00,4.0,1500.0,4.0,46000.0,4.0,CROATIA,Europe

In [4]:
df = pd.read_csv("en_sonki_data.csv",index_col="Year")
df.drop(['Search Parameters', 'Unnamed: 0'], axis=1, inplace=True)
df = df.groupby(["Year","Continent"])["Deaths"].sum()
df = pd.DataFrame(df)
df.reset_index(inplace=True)
df = df.pivot(index="Year", columns="Continent", values="Deaths")
df

Continent,Africa,Asia,Europe,North America,Not found,Oceania,South America
Year,,,,,,,
2015.0,3.0,9508.0,2.0,2.0,4.0,0.0,11.0
2016.0,32.0,301.0,310.0,1.0,4.0,3.0,677.0
2017.0,3.0,706.0,37.0,480.0,2.0,3.0,4.0
2018.0,7.0,5027.0,5.0,32.0,0.0,186.0,10.0
2019.0,1.0,192.0,56.0,1.0,1.0,0.0,9.0
2020.0,NaN,61.0,126.0,14.0,0.0,1.0,1.0

In [5]:
# df1 = pd.DataFrame(columns= df.groupby(["Year","Continent"])["Deaths"].sum(), )
# bcr.bar_chart_race(df=df.groupby(["Year","Continent"])["Deaths"].sum(),
# df1.transpose()

/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/bar_chart_race/_make_chart.py:286: UserWarning: FixedFormatter should only be used together with FixedLocator
  ax.set_yticklabels(self.df_values.columns)
/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/bar_chart_race/_make_chart.py:287: UserWarning: FixedFormatter should only be used together with FixedLocator
  ax.set_xticklabels([max_val] * len(ax.get_xticks()))

Exception: You do not have ffmpeg installed on your machine. Download
                            ffmpeg from here: https://www.ffmpeg.org/download.html.

                            Matplotlib's original error message below:

                            Requested MovieWriter (ffmpeg) not available